_MYSDDIR="/mnt/bigfatdisk/stable-diffusion"
COMPOSE_OPTIONS="--no-recreate"
PORT=7860
VOLUMES=(
  "$_MYSDDIR/models:/srv/webui/models"
  "$_MYSDDIR/embeddings:/srv/webui/embeddings" 
  "/tmp/outputs:/srv/webui/outputs"
)
